.postlist {
  max-width: 780px;
  padding: 0 2rem;
  margin: 4rem auto;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    strong {
      display: block;
      font-size: 1.75rem;
      color: var(--heading);
      transition: color 0.2s;
    }

    p {
      display: block;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      line-height: 1.37rem;
      color: var(--body);
    }

    svg {
      vertical-align: top;
    }

    time {
      font-size: 0.85rem;
      color: var(--info);
    }

    span {
      font-size: 0.85rem;
      color: var(--info);
      margin-left: 1.5rem;
    }

    &:hover strong {
      color: var(--highlight);
    }
  }

  button {
    background: transparent;
    border: 0;
    margin-top: 4rem;
    font-size: 1.12rem;
    font-weight: 600;
    color: var(--highlight);
  }
}

.preview {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 1rem 5rem 1rem;

  a {
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--heading);
    border-radius: 4px;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--background);
  }
}
