.banner {
  max-height: 400px;
  margin-bottom: 5rem;

  img {
    max-height: 400px;
    width: 100%;
  }
}

.post {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 2rem;

  h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--heading);
  }
}

.info {
  font-size: 0.85rem;
  color: var(--info);
  line-height: 1.5rem;
  margin-bottom: 4rem;

  svg {
    vertical-align: middle;
  }

  span {
    padding-left: 1.5rem;
  }

  p {
    font-style: italic;
    padding-top: 1rem;
  }
}

.postContent {
  h2 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 4rem 0;
    color: var(--heading);
  }

  p {
    font-size: 1.125rem;
    text-align: justify;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--body);
  }
}

.sugestions {
  max-width: 780px;
  height: 160px;
  margin: 0 auto;
  padding: 3rem 2rem;
  border-top: 1px solid var(--info);

  .prev {
    float: left;
    text-align: left;
    width: 200px;
  }

  .next {
    float: right;
    text-align: right;
    width: 200px;
  }

  p {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: var(--heading);
  }

  a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--body);

    &:hover {
      color: var(--highlight);
    }
  }
}

.comments {
  width: 100%;
  padding: 2rem 0;
}

.preview {
  max-width: 780px;
  margin: 0 auto;
  padding: 5rem 1rem;

  a {
    width: 100%;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--heading);
    border-radius: 4px;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--background);
  }
}
